:root {
    --primary-color: #2b4c5e;
    --secondary-color: #5799bd;
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.forecastday {
    background-color: var(--secondary-color);
    color: white;
}

.btn {
    background-color: var(--primary-color);
    color: white;
}

.wicon {
    width: 50px;
    height: 50px;
}

.today {
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
}

.list-group-item {
    text-align: left;
}